header{
    background-color: #FFF;
    border-bottom: 1px #CCCCCC;
    height: 70px;
    width: 100%;
}

.logo{
    background: url("../images/logo.png") no-repeat;
    background-position: left;
    display: block;
    height: 100%;
    margin-left: 20px;
}
