.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.places h1{
    font-size: 1.8rem;
    margin-left: 2rem;
    width: 100%;
}

.places article{
    width: 30%;
    margin: 2rem 2rem;
    padding: .5rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #FF5A5F;
    text-align: center;
}